name: Deploy pages

on:
  workflow_dispatch:
  push:
    branches: [main]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Set up Chinese environment
        run: |
          sudo locale-gen zh_CN.UTF-8
          echo "LANG=zh_CN.UTF-8" >> $GITHUB_ENV
          echo "LC_ALL=zh_CN.UTF-8" >> $GITHUB_ENV
          sudo apt-get update
          sudo apt-get install -y fonts-lxgw-wenkai

      - name: Setup @antfu/ni
        run: npm i -g @antfu/ni

      - name: Install dependencies
        run: nci

      - name: Build
        run: nr build --base /${{github.event.repository.name}}/ --with-clicks

      - name: Build for Chapter 0
        run: nr build 00-Introduction.md --base /${{github.event.repository.name}}/00-Intro/ --out dist/00-Intro --with-clicks

      - name: Build for Chapter 1
        run: nr build 01-Data.md --base /${{github.event.repository.name}}/01-Data/ --out dist/01-Data --with-clicks

      - name: Build for Chapter 2
        run: nr build 02-Machine_Prog_1.md --base /${{github.event.repository.name}}/02-Machine_Prog_1/ --out dist/02-Machine_Prog_1 --with-clicks

      - name: Build for Chapter 3
        run: nr build 03-Machine_Prog_2.md --base /${{github.event.repository.name}}/03-Machine_Prog_2/ --out dist/03-Machine_Prog_2 --with-clicks

      - name: Build for Chapter 4
        run: nr build 04-Processor_Arch_1.md --base /${{github.event.repository.name}}/04-Processor_Arch_1/ --out dist/04-Processor_Arch_1 --with-clicks

      - name: Build for Chapter 5
        run: nr build 05-Processor_Arch_2.md --base /${{github.event.repository.name}}/05-Processor_Arch_2/ --out dist/05-Processor_Arch_2 --with-clicks

      - name: Build for Chapter 6
        run: nr build 06-Cache.md --base /${{github.event.repository.name}}/06-Cache/ --out dist/06-Cache --with-clicks

      - name: Build for Chapter 7
        run: nr build 07-Linking_ECF_1.md --base /${{github.event.repository.name}}/07-Linking_ECF_1/ --out dist/07-Linking_ECF_1 --with-clicks

      - name: Build for Chapter 8
        run: nr build 08-ECF_2.md --base /${{github.event.repository.name}}/08-ECF_2/ --out dist/08-ECF_2 --with-clicks

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - uses: actions/upload-pages-artifact@v3
        with:
          path: dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4